html {
  overflow: hidden;
  background: #0C8AF3;
  background-image: url('./assets/cloud.png');
  background-position:center -12rem;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

input {
  text-align: center;
  font-weight: bold;
  border-radius: 0.3rem;
  border: none;
  height:9rem;
  width: 30rem;
  font-size: 3rem;
  font-family: 'Yantramanav';
}

input {
  border: 0.2rem solid #888888
}

button {
  font-family: 'Yantramanav';
  text-align: center;
  font-weight: bold;
  border-radius: 0.3rem;
  border: none;
  margin-top: 2rem;
  height: 6rem;
  width:12rem;
  font-size: 2.5rem;
  background-color:white;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  transition: all;
  transition-duration: 300ms;
}

.citylist{
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor:pointer;
  list-style: none;
  text-align: center;
  font-family: 'Yantramanav';
  font-size: 1.2rem;
}

.name {
  position: absolute;
  bottom: -1rem;
  color: black;
  font-size: 1.5rem;
}


.cities {
  background-color: rgb(255, 255, 255);
  color: black;
  padding-right: 1.5rem;
  margin-top: 1rem;
  border: 0.3rem solid white;
  border-radius: 1rem;
  font-weight: bold;
}

